<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="mainWindow">
        <div class="menu">
        <div class="startAreaButton">Início</div>
        <div class="workerInsertAreaButton">Funcionários</div>
        <div class="shiftInsertAreaButton">Turnos</div>
        <div class="shiftAreaButton">Escala</div>
        </div>
        <div class="startArea">
            <div>
                
                <p>
                    Bem vindo ao sistema de criação de escala automática!
                 </p> 
                 <p>
                    <label for="file">Salve seus dados</label><br><br>
                     <button class="exportButton">Exportar dados</button>
                    
                    </p>
                    <p>
                        <form id="upload">
                            <label for="file">Escolha arquivo json para importar</label><br><br>
                            <input type="file" id="file" accept=".json">
                        
                            <br><br><button>Importar dados</button>
                        </form>                
                     
                  </p> 
                
               


            </div>
        </div>
        <div class="shiftArea hide">
            <div class="escalarButton">Escalar!</div>
           
            
            <input id="qtdDiasMes" type="text" class="qtdDiasMes" placeholder="qtd dias" value="30">
            <div class="shiftList" id="shiftList"><br>
                <button onclick="exportDataCsv()" class="exportExcel">Exportar csv</button>
                <table class="horizontalShift" v-if="amountDays>0">
                    <thead>
                    <tr class="header-table">
                        <th>dias</th>
                        <th>CH</th>
                        <th>Leg</th>
                        <th>Nome</th>
                        <th>Hab.</th>
                        <th v-for="i in amountDays" v-html="i"></th>
                    </tr>
                </thead>
                <tbody>
                  
                    <tr  v-for="info in workers" :key="workerList[info].workerId">
                        <th v-html="workerList[info].daysOfWork"></th>
                        <th v-html="workerList[info].workHours"></th>
                        <th v-html="workerList[info].workerId"></th>
                        <th v-html="workerList[info].name" ></th>
                        <th v-html="workerList[info].level"></th>
                        <th v-for="a in amountDays">
                            <span class="negrito" v-if="workerList[info].shiftWork[a-1]=='SGT'"v-html="workerList[info].shiftWork[a-1]"></span>
                            <span class="normal" v-if="workerList[info].shiftWork[a-1]!='SGT'"v-html="workerList[info].shiftWork[a-1]"></span></th>
                        
                    </tr>
                </tbody>
                <br>
                </table>                
                  </div>
                  <br>
                  <div class="workIdshiftList" id="workIdshiftList">
                    <table class="idShift" v-if="amountDays>0">
                        <thead>
                            <tr class="header-table">
                                <th>dias</th>
                                <th v-for="i in header" v-html="i"></th>
                            </tr>                      
                    </thead>
                    <tbody>
                      
                        <tr  v-for="(info, index) in shifts" :key="index">
                            <th >{{index+1}}</th>
                            <th v-for="tag in info">{{tag}}</th>
                            
                        </tr>       
                    </tbody>
                    </table>

                      </div>
    

        </div>
        <div class="workerInsertArea hide">
            <div class="buttonAddWorker"> + </div><span class="countWorker"></span>
            <div class="workers">
                <div class="worker sample">
                <div class="row">
                    <div class="buttonRemove"> X </div> 
                    <input id="id" type="text" placeholder="id">
                    <input id="worker" type="text" placeholder="Funcionário" >
                    <input id="level" type="text" placeholder="level" >
                    <div class="buttonPlus"> + </div>
                    
                </div>
                    <div class="especialSituation">
                        
                        <div class="condition sample">
                            <div class="buttonRemoveCondition"> - </div >
                            <input class="dayStart" type="number" min="1" max="31" placeholder="Dia inicio">
                            <input class="dayEnd" type="number" min="1" max="31" placeholder="Dia fim">
                            <input class="signal" type="text" placeholder="Sigla">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shiftInsertArea hide">
            <div class="buttonAddShift"> + </div><span class="countWorker"></span>
            <div class="shifts">
                <div class="shift sample">
                <div class="buttonRemove"> - </div>
                <input id="shiftName" type="text" placeholder="Turno">
                <input id="shiftTag" type="text" placeholder="Abrev" >
                <input class="date" id="startTime" type="text" placeholder="inicio" >
                <input class="date" id="endTime" type="text" placeholder="fim" >
                <input id="level" type="text" placeholder="Nível" >
                <input id="minWorkers" type="text" placeholder="minWorkers" >
                <input id="workHours" type="text" placeholder="hours" >
                </div>
            </div>
        </div>
        
          
    </div>
    <script src="globalvar.js"></script>
    <script src="clickevents.js"></script>
    <script src="includeworker.js"></script>
    <script src="includeshift.js"></script>
    <script src="setdays.js"></script>
    <script src="startdistribuition.js"></script>
    <script src="addworker.js"></script>
    <script src="complesquare.js"></script>
    <script src="updatevue.js"></script>
    <script src="navbuttons.js"></script>
    <script src="exportshiftmonth.js"></script>
    <script src="convertmatrizshift.js"></script>
    <script src="exportdata.js"></script>
    <script src="importdata.js"></script>

</body>
</html>